.secretGroup {
  border-color: black;
  border-width: thin;
  border-style: solid;
}

.secretDisplay {
  border-color: black;
  border-style: thin;
}

.secretValue {
  background: white;
  overflow-x: scroll;
  border-style: solid;
  border-width: thin;
  margin-bottom: 5px;
}
