{% extends "base.html" %}

{% block section_title %} Secret {% endblock %}

{% block section_content %}
                <div class="row" style="margin: auto;">
                    <div class="col s8">
                        <div class="card">
                            <div class="card-title left-align" style="padding: 10px; padding-left: 20px;">{{ path }}</div>
                            <div class="card-content">
                                {% if secret %}
                                    {% for key, value in secret.iteritems() %}
                                       <p> {{ key }} : {{ value }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
