{% extends "base.html" %}

{% block section_title %} Secrets {% endblock %}

{% block section_content %}
        {% if secrets %}
            {% for secret in secrets %}
                <div class="row" style="margin: auto;">
                    <div class="col s4" style="width:100%">
                        <div class="card">
                            <div class="card-title left-align" style="padding: 10px; padding-left: 20px;"><a href={{ '/read/' + secret }}>{{ secret }}</a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
{% endblock %}
